<!DOCTYPE html>
<html lang="en">
  <%- include('../../layouts/header.ejs') %>
  <body>

    <%- include('../../layouts/navigation.ejs') %>

    <div class="admin-users min-h-full mx-10 table-text">
        <div class="flex-between">
          <div>
            <h1>USERS</h1>
          </div>
        </div>
        <table class="rwd-table ">
          <tbody>
            <tr>
              <th>Id</th>
              <th>Username</th>
              <th>Email</th>
              <th>PhoneNumber</th>
              <th>Subject</th>
              <th>Message</th>
              <th class="text-center">Action</th>
            </tr>

            <% data.forEach(value => { %>
              <tr>
                <td>
                  <div class="isMobile">ID :</div>
                  <%= value.id  %>
                </td>
                <td>
                  <div class="isMobile">Name :</div>
                  <%= value.Name  %>
                </td>
                <td>
                  <div class="isMobile">Email :</div>
                  <%= value.Email  %>
                </td>
                <td>
                  <div class="isMobile">PhoneNumber :</div>
                  <%= value.PhoneNumber  %>
                </td>
                <td>
                  <div class="isMobile">Subject :</div>
                  <%= value.Subject  %>
                </td>
                <td>
                  <div class="isMobile">Message :</div>
                  <%= value.Message  %>
                </td>
                <td class="text-center action">
                  <div class="flex gap-1">
                    <div class="btn-view" onclick="openViewModal('<%= JSON.stringify(value) %>')">
                      <div>View</div>
                    </div>
                    <div class="btn-delete" onclick="openDeleteModal('<%= value.id %>')">
                        <div>Delete</div>
                    </div>
                  </div>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
    </div>

    <div id="createModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeCreateModal()">&times;</span>
          <div>
            <div>
              <h1 for="viewId">Id</h1>
              <p id="viewId"></p>
            </div>
            <div>
              <h1 for="viewName">Name</h1>
              <p id="viewName"></p>
            </div>
            <div>
              <h1 for="viewEmail">Email</h1>
              <p id="viewEmail"></p>
            </div>
            <div>
              <h1 for="viewPhoneNumber">PhoneNumber</h1>
              <p id="viewPhoneNumber"></p>
            </div>
            <div>
              <h1 for="viewSubject">Subject</h1>
              <p id="viewSubject"></p>
            </div>
            <div>
              <h1 for="viewMessage">Message</h1>
              <p id="viewMessage"></p>
            </div>
        </div>
      </div>
    </div>

    <div id="deleteModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeDeleteModal()">&times;</span>
        <p>Are you sure you want to delete this user?</p>
        <div class="flex gap-1">
          <div>
            <button onclick="confirmDelete()" class="px-4 py-2 text-center rounded-lg bg-red-600 hover:bg-red-400 text-white w-full h-full">Yes</button>
          </div>
          <div>
            <button onclick="closeDeleteModal()">No</button>
          </div>
        </div>
      </div>
    </div>


    <%- include('../../layouts/footer.ejs') %>
  </body>
</html>

<script>
  let idForDelete = null; 


  function closeCreateModal() {
    var createModal = document.getElementById("createModal");
    createModal.style.display = "none";
  }

  function openViewModal(data) {
    var editModal = document.getElementById("createModal");
    editModal.style.display = "flex";

    const item = JSON.parse(data);

    document.getElementById("viewId").innerText = item._id
    document.getElementById("viewName").innerText = item.Name
    document.getElementById("viewEmail").innerText = item.Email
    document.getElementById("viewPhoneNumber").innerText = item.PhoneNumber
    document.getElementById("viewSubject").innerText = item.Subject
    document.getElementById("viewMessage").innerText = item.Message
  }

  

  function openDeleteModal(id) {
    var deleteModal = document.getElementById("deleteModal");
    deleteModal.style.display = "flex";

    idForDelete = id;
  }


  function closeDeleteModal() {
    var deleteModal = document.getElementById("deleteModal");
    deleteModal.style.display = "none";
  }

  async function confirmDelete() {

    await fetch('/api/contact/' + idForDelete, {
      method: 'DELETE',
    })
    .then(response => response.json())
    .then(data => {
    // console.log(data);
      location.reload();
    })
    .catch(error => {
      console.error('Error:', error);
    });
    closeDeleteModal();
  }

</script>

<style>
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999; 
}


.modal-content {
  background: white;
  padding: 30px;
  position: relative;
  margin: auto; 
}


.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  background-color: red;
  width: 20px;
  height: 20px;
  font-size: 20px;
  display: flex; 
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 800;
  cursor: pointer; 
  border-radius: 100%;
}



</style>





